{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap-4.5.0-dist/css/bootstrap.css' %}">
</head>

 {% include 'polls/header.html' %}
 <div class="jumbotron">
    <div class="container">

        {% block main_content %}
        {% endblock %}

    </div>
 </div>
    {% include 'polls/footer.html' %}
</body>
</html>